@font-face {
    font-family: "Arimo";
    src: url(../fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: "Dosis Medium";
    src: url(../fonts/Dosis-Medium.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(../fonts/GreatVibes-Regular.otf);
}

html { overflow: hidden; }
html, body, .parallax { height: 100%; }

body { 
    background: #0f0f0f;
    color: #f4f4ff;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.parallax {
    perspective: 1px;
    overflow-y: scroll;
    overflow-x: hidden;  
}

header {
    height: 64px;
    background: linear-gradient(#60606fd0, #404050e0);
    border-bottom: 1px solid #5f5f5fb0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 0 18px;
    box-sizing: border-box;
}

header > h1 { 
    float: left; 
    padding: 4px 0 0 0;
    margin: 0; 
    font-size: 32px; 
    line-height: 64px; 
    font-style: italic; 
}

header > h2 { font-size: 16px; line-height: 64px; text-transform: uppercase }

header > a { float: right; line-height: 64px; font-size: 22px; }

h1 {
    font-family: "Great Vibes";
    font-style: italic;
}

a, a:visited { 
    text-decoration: none; 
    color: #f4f4ff;
}

body > div {
    align-content: center;
    flex-flow: column nowrap;
    height: 100vh;
}

section, section:before { background: 50% 50% / cover; }

section {
    position: relative;
    /* padding: 10% 0; */
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background: 50% 50% / cover;
    box-sizing: border-box;
    justify-content: space-around;
    transform-style: inherit;
}

section:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

section:not(:last-child) { border-bottom: 2px solid #2f2f2f; }
section:nth-of-type(odd) { background-attachment: fixed; }
section:nth-of-type(even):before { transform: translateZ(-1px) scale(2); z-index:-1; }
section:nth-of-type(1) { background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../images/image_1.jpg) 50% 50% / cover; }
section:nth-of-type(2):before { background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../images/image_2.jpg) 50% 50% / cover; }
section:nth-of-type(3) { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/image_3.jpg) 50% 50% / cover; }
section:nth-of-type(4):before { background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/image_4.jpg) 50% 50% / cover; }
section:nth-of-type(5) { background: linear-gradient(#4f4f4f, #6f6f6f) }

section:first-child {
    height: 100vh;
    padding: 16% 0;
    /* background: linear-gradient(#ccccda, #ebe2e2); */
}

section:first-child > h2 {
    transform: translateZ(.18px) scale(.80) translateY(-14%)
}

section:nth-of-type(2) {
    /* padding: 14% 0; */
    /* background: linear-gradient(#d6d6db, #f3eeee); */
}

section:nth-of-type(3) { padding: 6% 0 0 0; }
section:nth-of-type(4) { padding: 12% 0 0 0; max-height: 100%; }

section h1, section h2, section h3 {
    margin: auto;
}

section > div {
    height: 84vh;
    width: 84vw;
    padding: 10% 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 32, 0.3));
}

section h1 {
    font-style: italic;
    font-size: 106px;
    padding: 0 12%;
    text-shadow: 3px 3px 4px #2f2f3f;
    margin-bottom: 0;
    transform: translateZ(.18px) scale(.90) translateY(-10%)
}

section h2 {
    text-transform: uppercase;
    /* border-bottom: 2px solid #0f0f0f; */
    font-size: 36px;
    text-shadow: 2px 2px 2px #313142;
    margin-top: 10%;
}

section h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #313142;
    text-align: center;
}

section h4 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

section ul {
    width: auto;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
    list-style-type: square;
}

section ul > li { 
    margin: 8px 0;
    font-size: 24px;
    text-shadow: 2px 2px 1px #313142;
}

section p { 
    width: 80%; 
}

section p, section a {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 1px #313142;
}

section a { font-size: 28px; }
section a.tel { font-size: 36px; z-index: 20; }

footer {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 32, 0.24));
    border-top: 1px solid #7f7f7f;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    padding: 0 8px;
}

footer span:first-child { float: left; }
footer span:last-child { float: right; }

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 480px) {

    section > h1 { font-size: 96px; }
    section > h2 { font-size: 20px; }
    section h3 { font-size: 20px; }
    section ul > li { font-size: 18px; }
    section p { font-size: 18px;}
    section a { font-size: 18px; }
    footer { font-size: 10px; }
}